@tailwind base;
@tailwind components;
@tailwind utilities;


.header-1{
    background-image: url(../src/assets/Rectangle\ 53.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}